/ENV/
/Ad_library_screens/
/Project/Ad_library_screens/
/Project/Ad_library_screens/
/App_exe/
/copy_files/
/.idea/
/copy_files_package/
/Project/.idea/
/.env
/Project/__pycache__
/Project/model/__pycache__
/Project/modules/__pycache__